<!-- <div class="ui-grid-col-4" style="background-color: red;">teste</div> -->
<app-menu></app-menu>
<div class="container">
  <!-- <nav>
    <a routerLink="/login" routerLinkActive="active">login</a>
  </nav> -->

  <!-- <nav>
    <ul>
      <li>Item do menu</li>
    </ul>
  </nav> -->


  <section>
    <div style="margin-top: 100px;">
      <app-login></app-login>
    </div>
  </section>

  <footer>
    <p>Texto do rodapé</p>
  </footer>

  <router-outlet></router-outlet>
</div>

<!-- <div class="ui-grid-col-4" style="background-color: red;">teste 4 </div> -->

<!-- <p-panel header="Title">
    Content
</p-panel> -->
