<form [formGroup]="formularioLogin" (ngSubmit)="onSubmit(formularioLogin.value)">
  <p-panel header="Login">
      <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px; width: 400px;">
          <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Email:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="email" formControlName="email" size="40" />
              </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Senha:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="password" formControlName="senha" size="40" />
              </div>
          </div>


          <div class="ui-grid-row">
              <div class="ui-grid-col-2"></div>
              <div class="ui-grid-col-6">
                  <button pButton type="submit" label="Entrar" icon="pi pi-sign-in"></button>
              </div>
          </div>

      </div>
  </p-panel>
</form>
