<div class="topo">
  <div class="barra preto" id="myNavbar">
    <div class="menu-centro">
      <a routerLink="/" class="barra-item menu-botao">JWT</a>
      <!-- Right-sided navbar links -->
      <div class="direita">
        <a routerLink="/home" class="barra-item menu-botao">Home</a>
        <a routerLink="/login" class="barra-item menu-botao">Login</a>
        <a routerLink="#sobre" class="barra-item menu-botao">Sobre</a>
        <a class="barra-item menu-botao" (click)="logout()"><i class="pi pi-sign-out" style="vertical-align: bottom;"></i>Sair</a>
        <!-- <button pButton type="button" label="Sair" icon="pi pi-sign-out"></button> -->
      </div>
    </div>
  </div>
</div>
